*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.block{
    padding-top: 40px;
}

.block-heading{
    font-family: 'Playfair', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    color: #3C3C3B;
    margin-bottom: 40px;
}

.block-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    border: 0.8px solid #000000;
    border-radius: 10px;
    overflow: hidden;
}

.block-image-wrapper{
    flex-shrink: 0;
}

.block-image{
    box-sizing: border-box;
    width: 530px;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
    display: block;
}

.block-text{
    display: flex;
    flex-direction: column;
    gap: 14px;
    flex: 1;
    padding: 20px;
}

.block-text p{
    font-family: 'Playfair', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #000000;

}

.block-text p:nth-child(2){
    color: #050FD2;
}

@media (max-width: 768px) {

    .block-heading{
        font-size: 36px;
        line-height: 120%;
        margin-bottom: 56px;
        padding: 0 15px;
    }

    .block-content{
        flex-direction: column;
        gap: 0;
        margin: 0 15px;
    }

    .block-image{
        width: 100%;
        height: auto;
        aspect-ratio: 330 / 220;
    }

    .block-text{
        padding: 15px;
        order: 2;
    }

    .block-text p{
        font-size: 12px;
        line-height: 12px;
    }

}